{% extends "layout.html" %}
{% block Content %}

<!-- <div class="WidgetContainer">
    <div class="Widget TransferBox" style="top: 212px;transition: top 0.2s ease-in-out 0s;">
        <div class="Send">
            <span class="title3">Send</span>
            <hr>
            <span class="title3">Receive</span>
        </div>

    </div>
</div> -->

<div class="header-nightsky">

    <nav class="navbar navbar-light" style="background: transparent;">
        <a class="navbar-brand" href="#" style="color: #ffffff">
            <img src="{{url_for('static', filename='image/navIcon.png')}}" width="30" height="30" alt="">
            Just Send It !
        </a>
        <a target="_blank" href="https://github.com/MrNegativeTW/JustSendIt" class="btn btn-outline-light form-inline" >
            <i class="fab fa-github"> GitHub</i>
        </a>
    </nav>

    <div class="hero">

    <div class="container">
        <div class="row">

            <div class="col-sm formBorder formPadding">
                <span class="title3 textLeft">Send</span>

                <form method="POST" action="" enctype="multipart/form-data">
                    <input type="file" name="file" style="padding-top: 8px; padding-bottom: 8px;">
                    <button class="btn btn-get whiteText" type="submit" style="width: 100%;">Upload</button>
                </form>

                {% if post %}
                <div style="padding-top: 4px;">
                    Your file ID is <span class="title3 textLeft">{{ fileCode }}</span>
                </div>
                {% endif %}

                <hr>

                <span class="title3 textLeft">Receive</span>
                <form method="POST" action="" style="padding-top: 8px;">
                    <div class="form-group input-group">
                        {{ receiveForm.hidden_tag() }}
                        {{ receiveForm.fileID(class="form-control") }}
                        <div class="input-group-append">
                            {{ receiveForm.submit(class="btn btn-get whiteText") }}
                        </div>
                      </div>
                    {% for error in receiveForm.fileID.errors %}
                    <span class="error text-danger">{{ error }}</span>
                    {% endfor %}
                </form>
                

            </div> <!-- ./col-sm -->

        </div> <!-- ./row -->
    </div> <!-- ./container -->
    </div>
</div>
{% endblock Content %}
